@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
}

#content1 {
  display: none;
}

.loading-page {
  z-index: 9999;
  visibility: visible;
  transition: opacity 1s ease-out, visibility 0s 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: none;
}

